.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform/
.env
x1*
hosts.ini
inventory.ini
.DS_Store
old/
tmp/
main
build.sh
.air.toml
base.toml
*.tfvars
current-servers.json
upfast-generated.py
data/
data-dev/
.pyc
.jump
.surf
__pycache__/
maps/
build.sh
*.pem
terraform-archive/